*~
*.log
*.out
*.pyc
*.pyo
*.o
*.egg-info
.ipynb_checkpoints
.coverage
docker.sh
coverage_html
/bin/
/build/
/dist/
/.cache/
/venv*
/swig.sh
/clear.sh
/register.sh
/git_push.sh
/git_fetch.sh
/update_submodules.sh
/workspace_private
/Makefile
/MANIFEST
