[submodule "submodules/PyMPL-git"]
	path = submodules/PyMPL-git
	url = git@github.com:fdabrandao/pympl.git
	ignore = dirty
[submodule "submodules/docker-ubuntu-git"]
	path = submodules/docker-ubuntu-git
	url = git@github.com:fdabrandao/docker-ubuntu.git
	ignore = dirty
[submodule "docs/wiki"]
	path = docs/wiki
	url = git@github.com:fdabrandao/vpsolver.wiki.git
	ignore = dirty
