*~
*.log
*.out
*.pyc
*.pyo
*.svg
*.o
*.egg-info
/bin/
/build/
/dist/
/venv*
/swig.sh
/clear.sh
/register.sh
/git_push.sh
/git_fetch.sh
/testupdate.sh
/update_submodules.sh
/workspace_private
/src/.deps/
/src/stamp-h1
/src/.dirstamp
/config.status
/autom4te.cache/
/Makefile
/MANIFEST
