include README.md CHANGES.md COPYING LICENSE requirements.txt
include bin/.gitignore
recursive-include pyvpsolver *
recursive-include src *.cpp
recursive-include src *.cxx
recursive-include src *.hpp
